[submodule "Build your own basic NFT Contract on Ethereum/NFT-Tutorial/foundary-app/lib/forge-std"]
	path = Build your own basic NFT Contract on Ethereum/NFT-Tutorial/foundary-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
